/* work sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header-about-us {
  display: flex;

  align-items: center;
}
.header-gamer {
  display: flex;
 
}

.header-gamer h1{
    margin-left: 10px;
}
.follow-us-part a {
  color: blue;
}
.follow-us-part{
    background-color: antiquewhite;
    border-radius: 5px;
    padding-left: 20px;
}
a {
  text-decoration: none;
}

header a{
    list-style: none;
    margin-right: 10px;
    color: black;
}


/* play like goat section style */
.play-like-goat{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goat{
    color: rgb(218, 159, 83);
    font-size: 50px;
    font-weight: 700;
}
.play-like-goat-btn{
    display: flex;
   
    
}
.btn{
    background-color: rgb(241, 196, 191);
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;

}
.btn-secondary{
    margin-left: 10px;
}

.play-like-goat-img img{
    height: 300px;
    width: auto;
}